<section class="container flex flex-banner">
    <div class="item-img">
        <div class="favorite">
            <img src="assets/favorite_border-24px.svg" alt="" srcset="">
        </div>
        <div class="contact"><p>ENTRE<br/> EM CONTATO</p></div>
        <img src="assets/Imagem1.png" alt="" class="resp-img">
    </div>
    <div class="item-img">
        <div class="favorite">
            <img src="assets/favorite_border-24px.svg" alt="" srcset="">
        </div>
        <div class="media"><p >REDES <br/>SOCIAIS</p></div>
        <img src="assets/Imagem2.png" alt="" class="resp-img">
    </div>
</section>
