<section>
    <img src="../../../assets/Audaces_logo.svg" alt="" > 
    <mat-selection-list [multiple]="false">
        <mat-list-option>
            <mat-icon aria-hidden="false" aria-label="home icon">home</mat-icon> <a href="#">Teste audaces</a>
        </mat-list-option>
        <mat-list-option>
            <mat-icon aria-hidden="false" aria-label="example 1 icon">insert_chart_outlined</mat-icon><a href="#"> Exemplo 1</a>
        </mat-list-option>
        <mat-list-option>
            <mat-icon aria-hidden="false" aria-label="example 2 icon">extension</mat-icon><a href="#"> Exemplo 2 </a>
        </mat-list-option>
        <mat-list-option>
            <mat-icon aria-hidden="false" aria-label="example 3 icon">filter_alt</mat-icon><a href="#"> Exemplo 3 </a>
        </mat-list-option>
    </mat-selection-list>

    <mat-selection-list [multiple]="false" class="footer-menu">
        <mat-list-option>
            <mat-icon aria-hidden="false" aria-label="dark theme icon">settings_brightness</mat-icon><a href="#"> Trocar de tema </a>
        </mat-list-option>
        <mat-list-option>
            <mat-icon class="material-icons-sharp" aria-hidden="false" aria-label="example 3 icon">account_circle</mat-icon><a href="#"> Username </a>
        </mat-list-option>
    </mat-selection-list>
    
</section>
